@model MechanicalAssistance.Web.Models.ServiceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit - Service</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LogoPath" />


            <partial name="_Service" />

            <div class="form-group">
                <div style="text-align:end">
                    <button type="submit" value="save" class="btn btn-success"> Save <i class="glyphicon glyphicon-save"></i></button>
                </div>
                <div style="text-align:start">
                    <a asp-action="index"><i class="glyphicon glyphicon-arrow-left"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.LogoPath))
        {
            <img src="@Url.Content(Model.LogoPath)" alt="Image" style="width:200px;height:200px;max-width: 200%; height: auto;" />
        }
    </div>
</div>


